QDRANT_URL=https://ceaf6c67-569d-40e2-81bd-ba2f7bf56e4f.us-west-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6NGIyODJjOTQtZjE5Yi00Y2ZiLWFhMjYtOTZiMjMxY2Y0YWYwIn0._a86VE4fBELmO13sKD4Rzy2vVRBBI9CzYZj_U-y3n_Q
GROQ_API_KEY=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
